<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LAN Buzzer - Host Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/shared/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/host/host.css'>

    <script src="/socket.io/socket.io.min.js" defer></script>
    <script src="/host/qrcode.min.js"></script>
    <script src="/host/host.js" defer></script>
  </head>

  <body>
    <h1>FZPT Buzzer</h1>
    <div class="container">
      <section class="player-info">
        <div>
          <details>
            <summary>
              <span>Connect to: <code class="ip-container" id="ip-container">loading...</code></span>
            </summary>
            <div class="qrcode" id="qrcode"></div>
          </details>
        </div>

        <div class="players">
          <details>
            <summary>
              connected players: (<span id="player-summary">0</span>)
            </summary>
            <ul id="player-list"></ul>
          </details>
        </div>

        <div class="reactions">
          <p id="reaction-header">Player reactions:</p>
          <ol id="reaction-list"></ol>
        </div>
      </section>

      <section class="buttons">
        <button
          onclick="startNewRound()">
          Start New Round
        </button>
        <button
          onclick="resetCurrentRound()">
          Reset Current Round
        </button>
        <button
          id="button-mode"
          onclick="switchMode()">
          Switch Mode to ANSWERS
        </button>
        <button
          id="button-reveal"
          onclick="revealAnswers()"
          disabled>
          Reveal Answers
        </button>
      </section>
    </div>

  </body>

</html>