@import 'table.css';

p {
  margin: 0.5rem 0;
}

details {
  margin: 0.25rem 0;
}

.container {
  height: calc(100% - (47px));
}

.ip-container {
  font-size: 1.25rem;
}

.qrcode {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.player-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-width: 300px;
  max-width: 75%;
  overflow-x: hidden;
  overflow-y: auto;
}

.players {
  align-self: flex-start;
}

.reactions {
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.reaction-header {
  font-weight: bold;
}

ol > li {
  margin-bottom: 0.5rem;
  padding-right: 8px;
}

.ellipsis {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.time {
  color: dimgrey;
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  order: -1;
  margin: 1rem 0;
}

button {
  font-size: 1rem;
  height: 2.25rem;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px #00000040;
}

button:active {
  transform: translateY(1px) translateX(1px);
  box-shadow: 2px 2px 3px 0px #00000040;
}

#button-reveal {
  display: none;
}

.blur {
  filter: blur(4px);
}

@media (orientation: portrait) and (max-width: 768px) {
  .container {
    justify-content: space-between;
  }

  .buttons {
    flex-flow: column nowrap;
    align-self: stretch;
    gap: 10px;
    order: 0;
    margin: 0;
  }
}
