<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LAN Buzzer - Host Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/shared/favicon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="/shared/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/host/host.css">

    <script src="/socket.io/socket.io.min.js" defer></script>
    <script src="/host/qrcode.min.js"></script>
    <script src="/host/host.js" defer></script>
  </head>

  <body>
    <h1>FZPT Buzzer</h1>
    <div class="container">
      <section class="player-info">
        <div>
          <details>
            <summary>
              <span>Connect to: <code class="ip-container" id="ip-container">loading...</code></span>
            </summary>
            <div class="qrcode" id="qrcode"></div>
          </details>
        </div>

        <div class="players">
          <details>
            <summary>
              connected players: (<span id="player-summary">0</span>)
            </summary>

            <table class="player-table" id="player-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Score</th>
                  <th>
                    <button
                      id="button-reset-storage"
                      onClick="clearStorage()">
                      Reset
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody id="table-body"></tbody>
            </table>
          </details>
        </div>

        <div class="reactions">
          <p class="reaction-header" id="reaction-header">Player reactions:</p>
          <ol id="reaction-list"></ol>
        </div>
      </section>

      <section class="buttons">
        <button
          id="button-new-round"
          onclick="startNewRound()">
          Start New Round
        </button>
        <button
          id="button-reset"
          onclick="resetCurrentRound()">
          Reset Current Round
        </button>
        <button
          id="button-reveal"
          onclick="revealAnswers()">
          Reveal Answers
        </button>
        <button
          id="button-mode"
          onclick="switchMode()">
          Switch Mode to ANSWERS
        </button>
      </section>
    </div>

  </body>

</html>