:root {
  --button-size: min(85vw, calc(100vh - 130px));
}

body {
  -webkit-user-select: none;
  user-select: none;
}

.container {
  gap: 10px;
}

.welcome {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}

.welcome input {
  font-size: 2rem;
  margin: 10px 0px 25px 0px;
  align-self: stretch; /* for some reason 'center' breaks the layout */
}

.submitName {
  width: 80%;
  font-size: 2rem;
}

.answer-mode {
  display: none;
  align-content: center;
  flex-flow: column nowrap;
  max-width: 100%;
}

.answer-mode textarea {
  font-size: 2rem;
  margin: 10px 0px 25px 0px;
  -webkit-user-select: text;
  user-select: text;
  resize: none;
}

.submitAnswer {
  font-size: 2rem;
  text-align: center;
  width: 80%;
  justify-content: center;
  align-self: center;
  padding: 0;
}

.buzz-mode {
  display: none;
  flex-flow: column nowrap;
  gap: 10px;
  width: 100%;
}

.button {
  align-self: center;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 100%;
  font-size: 3rem;
  color: black;
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  touch-action: manipulation;
}

.button:active {
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: none;
}

.button:disabled {
  background-color: grey;
  box-shadow: none;
}

.button:active:disabled {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.label {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

@media (orientation: landscape) {
  .welcome {
    width: 50%;
  }
}
