body {
  -webkit-user-select: none;
  user-select: none;
}

.buzzer {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  border: 3px solid black;
  background-color: rgb(0, 128, 0);
  box-shadow: 0px 0px 5px 3px #666;
  touch-action: manipulation; /* disable double tap to zoom */
}

.button:active {
  box-shadow: 0px 0px 5px 1px #666;
}

.button:disabled {
  background-color: rgba(0, 90, 0);
}

.button:active:disabled {
  box-shadow: 0px 0px 5px 3px #666;
}

@media (orientation: portrait) {
  .button {
    /*width: 90vw;*/
    position: absolute;
    top: 25%;
    left:9%;
    width:85%;
    height: 85vw;
  }
  box{
    position:absolute;
    top: 10%;
    left:19%;
    width:65%;
    height: 15vw;
  }
  .welcome{
    width: 100%;
    font-size: 1.5rem;
    flex-flow: column nowrap;
  }
  .name{

  }
}

@media (orientation: landscape) {
  .button {
    /*width: calc(90vh - 40px);*/
    position: absolute;
    left: 25%;
    width: 33.33%;
    height: 33.33%/*calc(90vh - 40px);*/
  }
}

p.buttonText {
  font-size: 4rem;
}
