<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LAN Buzzer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/client/client.css'>
    <script src="/socket.io/socket.io.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>CLIENT</h1>
      <div
        class="button"
        onclick="buzz()">
        <p class="buttonText">BUZZ</p>
      </div>
    </div>
    </div>
  </body>

  <script>
    let socket = io('/');

    function buzz() {
      console.info('BUZZ!')
      const tik = Date.now();
      let tok = 0;
      socket.emit('buzz', 'NAME', (ack) => {
        tok = Date.now();
        console.warn(ack, `${tok-tik}ms`);
      });
    }
  </script>

</html>