body {
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin: 0.25rem 0;
  text-align: center;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
